{{#if tag}}
<h1>Blog posts tagged {{tag}}</h1>
<p><a href="/blog/">View all blog posts</a></p>
{{else}}
<h1>Blog Posts</h1>
<p><a href="tags">View blog tags</a></p>
<p><a href="rss.xml">RSS Feed</a></p>
{{/if}}
<h1>Page {{page}}/{{page_max}}</h1>
{{#if previous}}
<a href="./{{previous}}">Previous page</a>
{{/if}}
{{#if next}}
<a href="./{{next}}">Next page</a>
{{/if}}
<div class="blog-post-list">
	{{#each resources}}
	<div class="post">
		<p class="title"><a href="/blog/{{id}}">{{title}}</a></p>
		<p class="short-desc">{{desc}}</p>
	</div>
	{{/each}}
</div>
