{{#if tag}}
<h1>blog posts tagged {{tag}}</h1>
<p><a href="/blog/">View all blog posts</a></p>
{{else}}
<h1>blog Posts</h1>
<p><a href="tags">view blog tags</a></p>
<p><a href="rss.xml">rss feed</a></p>
{{/if}}
<h1>Page {{page}}/{{page_max}}</h1>
{{#if previous}}
<a href="./{{previous}}">previous page</a>
{{/if}}
{{#if next}}
<a href="./{{next}}">next page</a>
{{/if}}
<div class="blog-post-list">
	{{#each resources}}
	<div class="post">
		<p class="title"><a href="/blog/{{id}}">{{title}}</a></p>
		<p class="timestamp">{{timestamp}}</p>
		<p class="short-desc">{{desc}}</p>
	</div>
	{{/each}}
</div>
