<div class="image-full">
	<h1 class="title">{{title}}</h1>
	<span class="timestamp">published {{timestamp}}</span>
	<img class="image-actual" src="{{src}}" alt="{{alt}}">
	{{{content}}}
	<p><a href="{{src}}">view full size image</a></p>
	<h3 class="tags-title">tags</h3>
	<div class="image-tags">
		{{#each tags}}
		<a class="tag" href="/i/tag/{{this}}/">{{this}}</a>{{#unless @last}},{{/unless}}
		{{/each}}
	</div>
</div>
