{{#if tag}}
<h1>images tagged {{tag}}</h1>
<p><a href="/images/">view all images</a></p>
{{else}}
<h1>images</h1>
<p><a href="/i/tags">view image tags</a></p>
<p><a href="rss.xml">rss feed</a></p>
{{/if}}
<h3>page {{page}}/{{page_max}}</h3>
{{#if previous}}
<a href="./{{previous}}">previous page</a>
{{/if}}
{{#if next}}
<a href="./{{next}}">next page</a>
{{/if}}
<div class="images-list">
	{{#each resources}}
	<a class="image" href="/i/{{id}}">
		<img class="image-actual" src="{{src}}" alt="{{alt}}">
		<span class="title">{{title}}</span>
	</a>
	{{/each}}
</div>
